<a href="https://colab.research.google.com/github/cow-coding/ML-DL-Study/blob/master/%EC%83%9D%ED%99%9C%EC%BD%94%EB%94%A9_%EC%BD%94%EB%94%A9%EC%95%BC%ED%95%99/%EC%95%84%EC%9D%B4%EB%A6%AC%EC%8A%A4_%ED%92%88%EC%A2%85_%EB%B6%84%EB%A5%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'

'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'

In [ ]:
# 라이브러리
import tensorflow as tf
import pandas as pd

In [ ]:
# 과거 데이터 준비
url = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
iris = pd.read_csv(url)
iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

In [ ]:
# 원핫인코딩
incode = pd.get_dummies(iris)
incode.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [ ]:
# 독립, 종속변수 분류
print(incode.columns)
cause = incode[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
effect = incode[['품종_setosa', '품종_versicolor','품종_virginica']]
print(cause.shape, effect.shape)

Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종_setosa', '품종_versicolor',
       '품종_virginica'],
      dtype='object')
(150, 4) (150, 3)

In [ ]:
# 모델 구조 만들기
X = tf.keras.layers.Input(shape=[4])
Y = tf.keras.layers.Dense(3, activation='softmax')(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss = 'categorical_crossentropy', metrics = 'accuracy')

In [ ]:
# 모델 학습
model.fit(cause, effect, epochs=100)

In [ ]:
# 모델 이용
model.predict(cause[-5:])

array([[1.1747253e-04, 3.0085415e-01, 6.9902843e-01],
       [1.4977333e-04, 2.9924244e-01, 7.0060784e-01],
       [2.0361521e-04, 3.6132267e-01, 6.3847375e-01],
       [9.5987925e-05, 3.1423616e-01, 6.8566787e-01],
       [2.8089681e-04, 3.9449978e-01, 6.0521930e-01]], dtype=float32)

In [ ]:
print(effect[-5:])

     품종_setosa  품종_versicolor  품종_virginica
145          0              0             1
146          0              0             1
147          0              0             1
148          0              0             1
149          0              0             1

In [ ]:
# 학습 가중치 출력
model.get_weights()

[array([[ 0.41899338, -0.13875267, -0.45609647],
        [ 1.3010422 , -0.03040792, -1.1187625 ],
        [-2.4238074 ,  0.07223636,  1.141499  ],
        [-1.578364  ,  0.01639953,  1.1404842 ]], dtype=float32),
 array([ 1.6052781 ,  0.53731954, -1.373908  ], dtype=float32)]