<a href="https://colab.research.google.com/github/cow-coding/ML-DL-Study/blob/master/DL%20from%20Scratch/Chap03/2.Multidimensional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Library import

In [ ]:
import numpy as np

# Multidimensional Array

숫자를 N차원으로 나열하는 것을 다차원 배열이라한다.

## Multidimensional Array implementation

### One dimesion Array

- `np.ndim()` : 배열의 차원 수
- `shape` : 배열의 형상 (몇행 몇열 ..) return tuple

In [ ]:
A = np.array([1,2,3,4])
print(A)

print(np.ndim(A))

print(A.shape)

print(A.shape[0])

[1 2 3 4]
1
(4,)
4

### Two dimensional Array

$$
\begin{pmatrix}
1 & 2 \\
3 & 4 \\
5 & 6
\end{pmatrix}
$$

In [ ]:
B = np.array([[1,2], [3,4], [5,6]])
print(B)

print(np.ndim(B))

print(B.shape)

[[1 2]
 [3 4]
 [5 6]]
2
(3, 2)

# Multiply of Matrix

$$
  \left(\begin{array}
  &1 & 2 \\
  3 & 4
  \end{array}\right)
\left(\begin{array}
&5 & 6 \\
7 & 8
\end{array}
\right)
=
\left(\begin{array}
&19 & 22 \\
43 & 50
\end{array}
\right)
$$

행렬 곱은 n행 x m열의 값들의 합을 n행 m열에 기록하면된다.
예를 들어 19는 1행 1열인데, 앞의 행렬의 1행과 뒤의 행렬의 1열을 곱한 값들의 합으로 기록한다.

## Multiply implementation

`np.dot(A,B)` : A와 B의 벡터 곱(1차원) , 행렬 곱(2차원)

In [ ]:
# example 1
A = np.array([[1,2],[3,4]])
print(A.shape)

B = np.array([[5,6],[7,8]])
print(B.shape)

print(np.dot(A, B))

(2, 2)
(2, 2)
[[19 22]
 [43 50]]

In [ ]:
# example 2
A = np.array([[1,2,3],[4,5,6]])
print(A.shape)

B = np.array([[1,2],[3,4],[5,6]])
print(B.shape)

print(np.dot(A, B))

(2, 3)
(3, 2)
[[22 28]
 [49 64]]

In [ ]:
# example 3 : error case
C = np.array([[1,2], [3,4]])
print(C.shape)

print(A.shape)

# print(np.dot(A, C))

(2, 2)
(2, 3)

ValueError: ignored

# Matrix Multiply in Neural Network

![nn.png]()

각 신경망의 가중치들을 행렬도 나타내면 다음과 같다.

$$
\begin{pmatrix}
1 & 3 & 5 \\
2 & 4 & 6
\end{pmatrix}
$$   

이때 X의 입력 값의 수는 2, 출력 값 Y는 3개이다.  
행, 열 값이 같으므로 곱연산이 가능하다.  


$$
X \quad W \quad = \quad Y 
$$  

$$
2 \quad 2 \times 3 \quad = \quad 3
$$

## Neural Network matrix multiply implementation

In [ ]:
X = np.array([1,2])
print(X.shape)

W = np.array([[1,3,5],[2,4,6]])
print(W)

print(W.shape)

Y = np.dot(X, W)
print(Y)

(2,)
[[1 3 5]
 [2 4 6]]
(2, 3)
[ 5 11 17]